<h6 class="small mb-3" style="margin-top:-14px">Ref: MK_1_1_10 SUBIR ESCRITO DE RECURSO DE 
        IMPUGNACIÓN</h6>

<div class="text-center mb-5 mt-5">
    <img *ngIf="perfil != p.p2" src="{{ruta}}linea-subir-escrito.png">
    <img *ngIf="perfil == p.p2" src="{{ruta}}linea-subir-escrito-p2.png">
</div>
<div class="col-12 float-left mb-5">
    <h3 *ngIf="action=='crear' || action=='editar'" class="mb-5">Subir escrito del recurso administrativo</h3>
    <h3 *ngIf="action=='ver'" class="mb-5">Escrito del recurso administrativo</h3>

    <div class="col float-left border border mb-4 rounded bg-gris">

        <div class="col float-left separador">
            <div class="col-6 float-left" >
                <div class="col float-left">
                        <p class="col-6 float-left text-right">Id Recurso</p>
                        <p class="col-6 float-left font-weight-bold ">4323</p>
                </div>
                    <div class="col float-left">
                            <p class="col-6 float-left text-right">Rut Sostenedor</p>
                            <p class="col-6 float-left font-weight-bold ">77.543.657-k</p>
                    </div>
                    <div class="col float-left">
                            <p class="col-6 float-left text-right">Rut Representante</p>
                            <p class="col-6 float-left font-weight-bold ">9.384.567-3</p>
                    </div>
                    
            </div>
            
            <div class="col-6 float-left">
                <div class="col float-left">
                        <p class="col-6 float-left text-right">Email de Contacto</p>
                        <p class="col-6 float-left font-weight-bold ">email@sostenedor.cl</p>
                </div>
                <div class="col float-left">
                        <p class="col-6 float-left text-right">Nombre Sostenedor</p>
                        <p class="col-6 float-left font-weight-bold ">San Patricio</p>
                </div>
                <div class="col float-left">
                        <p class="col-6 float-left text-right">Nombre Representante</p>
                        <p class="col-6 float-left font-weight-bold ">Emmanuel Marron</p>
                </div>
                
            </div>
        </div>

        

        <div class="col float-left separador">
                <div class="col-6 float-left" >
                        <div class="col float-left">
                                <p class="col-6 float-left text-right">Tipo Recurso Principal</p>
                                <p class="col-6 float-left font-weight-bold ">Reposición</p>
                        </div>
                        <div class="col float-left">
                                <p class="col-6 float-left text-right">Subsidio</p>
                                <p class="col-6 float-left font-weight-bold ">Jerárquico</p>
                        </div>
                </div>
                
                <div class="col-6 float-left">
                    <div class="col float-left">
                        <p class="col-6 float-left text-right">Causal</p>
                        <p class="col-6 float-left font-weight-bold ">Artículo 60 letra a) ley 19880</p>
                    </div>
                    <div class="col float-left">
                            <p class="col-6 float-left text-right">Causal</p>
                            <p class="col-6 float-left font-weight-bold ">Artículo 60 letra b) ley 19880</p>
                    </div>
                </div>
        </div>

        <div class="col float-left separador">
                <div class="col-6 float-left" *ngIf="perfil != p.p1">
                    <div class="col float-left">
                            <p class="col-6 float-left text-right">Fecha Presentación Recurso</p>
                            <p class="col-6 float-left font-weight-bold ">12/09/2018</p>
                    </div>    
                </div>
                
                <div class="col-6 float-left">
                    <div class="col float-left">
                            <p class="col-6 float-left text-right">Región</p>
                            <p class="col-6 float-left font-weight-bold ">Décima Región</p>
                    </div>
                    <div class="col float-left">
                            <p class="col-6 float-left text-right">Estado Recurso</p>
                            <p class="col-6 float-left font-weight-bold ">Ingresado</p>
                    </div>                           
                </div>
        </div>


        <div class="col float-left">
                        <div class="col-6 float-left" >
                        
                                <div class="col-6 float-left">
                                        <p *ngIf="action=='crear' || action=='editar'" class="text-right">Adjuntar Escrito</p>    
                                        <p *ngIf="action=='ver'" class="text-right">Escritos adjuntos</p>                    
                                </div>
                                <div *ngIf="action=='crear' ||  action=='editar'" class="col-6 float-left">
                                        <a *ngIf="action=='editar'" href="#">xxxxxx.pdf</a>
                                        <input type="file" class="col float-left ">  
                                        <p class="col text-gray small font-italic">(En formato pdf no superior a 9mb)</p>
                                </div>
                                <a href="#" *ngIf="action=='ver'" class="col-6 float-left font-weight-bold">xxxxxx.pdf</a>
                        
                        </div>
                        
                        <div class="col-6 float-left">
                                <div class="col-6 float-left">
                                        <p *ngIf="action=='crear' ||  action=='editar'" class="text-right">Adjuntar Antecedentes</p>
                                        <p *ngIf="action=='ver'" class="text-right">Antecedentes adjuntos</p>
                                </div>
                                <div *ngIf="action=='crear' ||  action=='editar'" class="col-6 float-left">
                                        <a *ngIf="action=='editar'" href="#">xxxxxx.pdf</a>
                                        <input type="file" class="col float-left">
                                        <p class="col text-gray small font-italic">(En formato pdf no superior a 9mb)</p>
                                </div>
                                <a href="#" *ngIf="action=='ver'" class="col-6 float-left font-weight-bold">xxxxxx.pdf</a>
                        
                        </div>
        </div>

        
    </div>

    <div class="col float-left border border mb-4 rounded bg-gris pt-3"> 
        <table class="table table-striped" *ngIf="perfil != p.p1">
                <thead class="header-tablas">
                  <tr>
                    <th scope="col">Formato</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Comentario</th>

                  </tr>
                </thead>
                <tbody class="body-tablas">
                    <tr *ngFor="let post of posts">
                        <th scope="row">{{post.formato}}</th>
                        <td><input class="w-100"></td>
                        <td><input class="w-100"></td>
                    </tr>
                </tbody>
        </table>

        <div *ngIf="action=='crear' || action=='editar'" class="col float-left text-center mb-5 mt-5" >
                <button class="btn btn-primary">Guardar</button>
        </div>
    </div>


    <!-- NAVEJACION FLUJO -->

    <div class="col float-left text-right">
            <button [routerLink]="['/argumento-escrito']" class="btn btn-primary float-left" *ngIf="perfil != p.p2">Anterior</button>
            <button [routerLink]="['/gestionar-acta-recurso']" class="btn btn-primary float-left" *ngIf="perfil == p.p2">Anterior</button>
            <button [routerLink]="['/presentacion-recurso']" class="btn btn-primary float-right" *ngIf="action=='crear' || action=='editar'">Siguiente</button>
    </div>
</div>

