<div class="jumbotron">
        <h1 class="display-4">¡Bienvenido/a!</h1>
        <p class="lead">Usted está en el Sistema de Procesos Legales de Uso de Recursos (SIPLUR).</p>
        <hr class="my-4">
        <p>SIPLUR es la plataforma de tramitación de los recursos administrativos contemplados en la
          Ley N° 19.880, que presentan los sostenedores en contra de las actas de fiscalización que no
          aceptan gastos, luego de aplicado un programa de fiscalización de recursos, a aquellos
          sostenedores que participaron del proceso de Rendición de Cuentas.</p>
        <!-- <p class="lead">
          <a class="btn btn-primary btn-lg" [routerLink]="['/listar-recursos']">Recepción y Asignación de Recursos</a>
        </p> -->
      </div>
