<h6 class="small mb-3" style="margin-top:-14px">Ref: MK_1_1_3 Definición de recurso de Impugnación</h6>

<div class="text-center mb-5 mt-5">
    <img *ngIf="perfil != p.p2" src="{{ruta}}linea-recurso.png">
    <img *ngIf="perfil == p.p2" src="{{ruta}}linea-recurso-p2.png">
</div>
<div class="col-12 float-left mb-2">
    <h3 class="mb-5" *ngIf="action == 'crear'">Ingresar datos del recurso administrativo</h3>
    <h3 class="mb-5" *ngIf="action == 'editar'">Modificar datos del recurso administrativo</h3>
    <h3 class="mb-5" *ngIf="action == 'ver'">Datos del recurso administrativo</h3>

    <div class="col float-left border border mb-4 rounded bg-gris">

        <form #GuardarForm="ngForm" (ngSubmit)="onSubmit(GuardarForm)">
        <div class="row ">
            <div class="col-6" >
                <div class="row">
                        <p class="col-6 text-right">Rut Sostenedor</p>
                        <div class="col-6">
                                <input *ngIf="action =='crear' || action =='editar'" class="w-100" value="65.154.015-9" disabled>
                                <p *ngIf="action =='ver'" class="font-weight-bold">65.154.015-9</p>
                        </div>
                </div>

                <div class="row">
                        <p class="col-6 text-right">Rut Representante</p>
                        <div class="col-6"> 
                                <input class="w-100" *ngIf="action == 'crear'">
                                <input class="w-100" value="8.170.216-4" *ngIf="action == 'editar'">
                                <p *ngIf="action =='ver'" class="font-weight-bold">8.170.216-4</p>
                        </div>
                </div>

                <div class="row">
                    <p class="col-6 text-right">Email de Contacto</p>
                    <div class="col-6">
                        <input class="w-100" *ngIf="action == 'crear'">
                        <input class="w-100" value="sostenedor@gmail.com" *ngIf="action == 'editar'">
                        <p *ngIf="action =='ver'" class="font-weight-bold">sostenedor@gmail.com</p>
                    </div>
                </div>
            </div>
            
            <div class="col-6 float-left">
                <div class="row">
                        <p class="col-6 text-right">Nombre Sostenedor</p>
                        <div class="col-6">
                                <input *ngIf="action =='crear' || action=='editar'" class="w-100" value= "Corporación Educacional Alquimia" disabled>
                                <p *ngIf="action =='ver'" class="font-weight-bold">Corporación Educacional Alquimia</p>
                        </div>
                </div>
                <div class="row">
                        <p class="col-6 text-right">Nombre Representante</p>
                        <div class="col-6">
                                <input class="w-100" *ngIf="action == 'crear'">
                                <input class="w-100" value="Xxxxxxxxx" *ngIf="action == 'editar'">
                                <p *ngIf="action =='ver'" class="font-weight-bold">Juan Pérez Barría</p>
                        </div>
                </div>
                <div class="row">
                        <p class="col-6 text-right">Email Adicional de Contacto</p>
                        <div class="col-6">
                                <input class="w-100" *ngIf="action == 'crear'">
                                <input class="w-100" value="nombre@dominio.cl" *ngIf="action == 'editar'">
                                <p *ngIf="action =='ver'" class="font-weight-bold">sostenedor1@gmail.com</p>
                        </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
                <div class="col-6" >
                        <div class="row">
                                <p class="col-6 text-right">Tipo Recurso Principal</p>
                                <div *ngIf="action =='crear'" class="col-6">
                                        <select name="tipoRecursoPrincipal" #tipoRecursoPrincipal="ngModel" [(ngModel)]="_tipoRecursoPrincipal">
                                                <ng-container  *ngFor="let select of json['tipo-recurso-principal']">
                                                        <option value="{{select['value']}}">{{select['name']}}</option>
                                                </ng-container>
                                        </select>
                                        <!-- <button class="btn-primary" title="Seleccionar"><i class="fa fa-bars"></i></button> -->
                                        
                                </div>
                                <div *ngIf="action =='editar'" class="col-6">
                                        <select >
                                                <option>Seleccionar</option>
                                                <option selected>Reposición</option>
                                                <option>Jerárquico</option>
                                                <option>Revisión</option>
                                                <option>Revocación</option>
                                                <option>Invalidación</option>
                                                <option>Aclaración</option>
                                                
                                        </select>
                                        <button class="btn-primary" title="Seleccionar"><i class="fa fa-bars"></i></button>
                                </div>
                                <p *ngIf="action =='ver'" class="col-6" class="font-weight-bold">Reposición</p>
                        </div>
                        <div class="row">
                                <p class="col-6 text-right">Subsidio</p>
                                <div *ngIf="action =='crear'" class="col-6">
                                        <select name="subsidio">
                                                
                                                <ng-container *ngFor="let select of json['tipo-recurso-principal']">
                                                <ng-container *ngIf="_tipoRecursoPrincipal != select['name']">
                                                        <option value="{{select['value']}} ">{{select['name']}}</option>
                                                </ng-container>
                                                </ng-container>                  
                                        </select>
                                       <!--  <button class="btn-primary" title="Seleccionar Subsidio"><i class="fa fa-bars"></i></button> -->
                                </div>
                                <div *ngIf="action =='editar'" class="col-6">
                                        <input value="xxxxxx">
                                        <button class="btn-primary" title="Seleccionar Subsidio"><i class="fa fa-bars"></i></button>
                                </div>
                                <p *ngIf="action =='ver'" class="col-6" class="font-weight-bold">Jerárquico</p>
                        </div>
                </div>
                
                <div class="col-6">
                    <div class="row">
                        <p *ngIf="action !='ver'" class="col-6 text-right">Causal</p>
                        <div class="col-6">
                            <input *ngIf="action == 'crear'" name="causal-1" value="{{opcionSeleccionado}}">
                            <button *ngIf="action == 'crear'" class="btn-primary" title="Seleccionar Causal" data-toggle="modal" data-target="#myModal"><i class="fa fa-bars"></i> </button>

                            <input *ngIf="action == 'editar'" name="causal-1" value="{{opcionSeleccionado}}">
                            <button *ngIf="action == 'editar'" class="btn-primary" title="Seleccionar Causal" data-toggle="modal" data-target="#myModal"><i class="fa fa-bars"></i> </button>
                            
                            <!-- <p *ngIf="action !='ver'" class="font-weight-bold">xxxxxxxxx</p> -->
                        </div>
                    </div>
                    <div class="row">
                            <p *ngIf="action !='ver'" class="col-6 text-right">Causal</p>
                            <div class="col-6">
                                    <input *ngIf="action == 'crear'" name="causal-2">
                                    <button *ngIf="action == 'crear'" class="btn-primary" title="Seleccionar Causal" data-toggle="modal" data-target="#myModal"><i class="fa fa-bars"></i></button>
                                    
                                    <input *ngIf="action == 'editar'" name="causal-2" value="{{opcionSeleccionado}}">
                                    <button *ngIf="action == 'editar'" class="btn-primary" title="Seleccionar Causal" data-toggle="modal" data-target="#myModal"><i class="fa fa-bars"></i></button>

                                    <!-- <p *ngIf="action !='ver'" class="font-weight-bold">xxxxxxxxx</p> -->
                            </div>
                    </div>
                </div>
        </div>

        <div class="row" *ngIf="action == 'crear' || action == 'editar'">
                <div class="col text-center mb-5 mt-5">              
                        <button class="btn btn-default border border-dark mr-5" type="reset" (click)="reset(GuardarForm)">Cancelar</button>
                        <button class="btn btn-primary" type="submit">Guardar</button>
                </div>
        </div>
        </form>
    </div>


    <div class="row">
    <div class="col text-right">
        <button [routerLink]="['/gestionar-acta-recurso']" class="btn btn-primary" *ngIf="status != 'success' && (action == 'crear')" disabled>Siguiente</button>
        <button [routerLink]="['/gestionar-acta-recurso']" class="btn btn-primary" *ngIf="status == 'success' && (action == 'crear')">Siguiente</button>
        <button [routerLink]="['/gestionar-acta-recurso']" class="btn btn-primary" *ngIf="action == 'ver' || action == 'editar'">Siguiente</button>
    </div>
   </div>
</div>




<!-- The Modal -->
<div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
                <div class="modal-content">
                <form #causalForm="ngForm" (ngSubmit)="submitCausal(causalForm)">
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Seleccionar Causal</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
              
                    <!-- Modal body -->
                    <div class="modal-body">

                        <label class="form-check-label"> </label>
                        <select name="causal" class="mb-3" [(ngModel)]="opcionSeleccionado" (change)="capturar()">
                                <option value="Artículo 60 letra a) ley 19880">Artículo 60 letra a) ley 19880</option>
                                <option value="Artículo 60 letra b) ley 19880">Artículo 60 letra b) ley 19880</option>
                                <option value="Artículo 60 letra c) ley 19880">Artículo 60 letra c) ley 19880</option>
                                <option value="Artículo 60 letra d) ley 19880">Artículo 60 letra d) ley 19880</option>
                        </select> 

                        <div >
                                
                        <p class="alert alert-warning" [hidden]="opcionSeleccionado == '0'">{{ verSeleccion }}</p>
                        </div>

                        <div>
                                <p>Fundamentación</p>
                                <textarea name="fundamenta" #fundamenta="ngModel" [(ngModel)]="fundamentacion" required class="w-100" rows="4"></textarea>
                                <small *ngIf="!fundamenta.valid && fundamenta.touched"  class="invalid-feedback d-block">
                                        La fundamentación es requerida.
                                </small>
                        </div>

                    </div>
              
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        
                        <button type="button" class="btn btn-default border border-dark mr-2" data-dismiss="modal">Cancelar</button>
                        <input type="submit"  value="Guardar" class="btn btn-primary" disabled *ngIf="!fundamenta.valid">
                        <input type="submit" data-dismiss="modal" value="Guardar" class="btn btn-primary" *ngIf="fundamenta.valid">
                        
                    </div>

                </form>
                </div>
        </div>
</div>


