<h6 class="small mb-3" style="margin-top:-14px">Ref: MK_1_1_8_GESTIONAR ANTECEDENTES A UN RECURSO</h6>

<div class="text-center mb-5 mt-5">
    <img src="{{ruta}}/linea-antecedentes.png" >
</div>
<div class="col-12 float-left mb-5">
    <h3 *ngIf="action == 'crear'" class="mb-5">Adjuntar antecedentes al recurso administrativo</h3>
    <h3 *ngIf="action == 'editar'" class="mb-5">Modificar antecedentes al recurso administrativo</h3>
    <h3 *ngIf="action == 'ver'" class="mb-5">Antecedentes al recurso administrativo</h3>

    <div class="col float-left border border mb-4 rounded bg-gris">

        <!-- FORMULARIO -->
        <div class="row pt-3">
            <div class="col-6" >
                    <div class="row">
                            <p class="col-6 text-right">Acta</p>
                            <div *ngIf="action == 'crear' || action == 'editar'"  class="col-6">
                                <select>
                                    <option>170800186</option>
                                </select>
                            </div>
                            <p *ngIf="action == 'ver'" class="col-6 font-weight-bold">170800186</p>
                    </div>
                    <div class="row">
                            <p class="col-6 text-right">Recurso</p>
                            <div *ngIf="action == 'crear'" class="col-6"><input ></div>
                            <div *ngIf="action == 'editar'" class="col-6"><input value="xxxxxx"></div>
                            <p *ngIf="action == 'ver'" class="col-6 font-weight-bold">xxxxxxxx</p>
                    </div>
                    <div class="row">
                            <p class="col-6 text-right">Fecha Ingreso Recurso</p>
                            <div *ngIf="action == 'crear'" class="col-6"><input ></div>
                            <div *ngIf="action == 'editar'" class="col-6"><input value="23/10/2019" type="date"></div>
                            <p *ngIf="action == 'ver'" class="col-6 font-weight-bold">xxxxxxxx</p>
                    </div>
                    <div class="row">
                            <p class="col-6 text-right">Estado Recurso</p>
                            <div *ngIf="action == 'crear'" class="col-6"><input ></div>
                            <div *ngIf="action == 'editar'" class="col-6"><input value="xxxxx"></div>
                            <p *ngIf="action == 'ver'" class="col-6 font-weight-bold">xxxxxxxx</p>
                    </div>
                    
            </div>
            
            <div class="col-6 float-left">
                    <div class="row">
                            <p class="col-6 text-right">Región</p>
                            <div *ngIf="action == 'crear'" class="col-6"><input></div>
                            <div *ngIf="action == 'editar'" class="col-6"><input value="xxxxxx"></div>
                            <p *ngIf="action == 'ver'" class="col-6 font-weight-bold">xxxxxxxx</p>
                    </div>
                <div class="row">
                        <p class="col-6 text-right">Tipo Recurso</p>
                        <div *ngIf="action == 'crear'" class="col-6"><input></div>
                        <div *ngIf="action == 'editar'" class="col-6"><input value="xxxxxx"></div>
                        <p *ngIf="action == 'ver'" class="col-6 font-weight-bold">xxxxxxxx</p>
                </div>
                <div class="row">
                        <p class="col-6 text-right">Programa</p>
                        <div *ngIf="action == 'crear'" class="col-6"><input ></div>
                        <div *ngIf="action == 'editar'" class="col-6"><input value="xxxxx"></div>
                        <p *ngIf="action == 'ver'" class="col-6 font-weight-bold">xxxxxxxx</p>
                </div>
                <div class="row">
                        <p class="col-6 text-right">Fecha Estado </p>
                        <div *ngIf="action == 'crear'" class="col-6"><input ></div>
                        <div *ngIf="action == 'editar'" class="col-6"><input type="date"></div>
                        <p *ngIf="action == 'ver'" class="col-6 font-weight-bold">xxxxxxxx</p>
                </div>
            </div>
        </div>

        <!-- PESTAÑAS -->
        <div class="col-12 float-left mt-4 mb-2">
                <!-- Nav pestañas -->
                <ul class="nav nav-tabs font-weight-bold pestanias">
                    <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home">Remuneraciones</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu2">Boletas y Facturas</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu3">Servicios ATE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu4">Prorrateados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu5">Remuneraciones Prorrateada</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu6">Saneamiento de Cotizaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu7">Saneamiento de Proveedores</a>
                    </li>

                </ul> 
                <!-- panel pestañas -->
                <div class="tab-content border border-top-0  pt-2 bg-blanco">

                    <!-- MENU 1 REMUNERACIONES -->
                    <div class="tab-pane container active content-tabla" id="home">

                        <!-- tabla Remuneraciones -->
                        <div class=" mb-2" style="text-align: right;">
                                <a class="icoFile"  href="{{ruta}}downloadFile.xlsx"><i class="fa fa-file-excel-o"></i></a>
                        </div>
                        <table datatable [dtOptions]="dtOptions" class="table table-striped">
                            <thead class="header-tablas">
                            <tr>
                                <th scope="col" style="width: 33px;">RBD</th>
                                <th scope="col" style="width: 200px;">Trabajador</th>
                                <th scope="col" class="text-right">Acciones</th>
                            </tr>
                            </thead>
                            <tbody class="body-tablas">
                            <tr *ngFor="let post of posts">
                                <td>{{post.RBD}}</td>
                                <td>{{post.trabajador}}</td>
                                <td class="text-right">
                                    <i data-toggle="modal" data-target="#myModal" class="fa fa-eye ico-action-table" title="Ver"></i> 
                                    <i *ngIf="action=='crear' || action=='editar'" data-toggle="modal" data-target="#myModal" class="fa fa-upload ico-action-table" title="Subir Antecedentes"></i> 
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                    <!-- MENU 2 BOLETAS Y FACTURAS -->
                    <div class="tab-pane container fade content-tabla" id="menu2">

                            <!-- tabla Remuneraciones -->
                            <div class=" mb-2" style="text-align: right;">
                                    <a class="icoFile"  href="{{ruta}}downloadFile.xlsx"><i class="fa fa-file-excel-o"></i></a>
                            </div>
                            <table datatable [dtOptions]="dtOptions" class="table table-striped">
                                <thead class="header-tablas">
                                <tr>
                                    <th scope="col" style="width: 33px;">RBD</th>
                                    <th scope="col" class="text-right">Acciones</th>
                                </tr>
                                </thead>
                                <tbody class="body-tablas">
                                <tr *ngFor="let post of posts">
                                    <td>{{post.RBD}}</td>
                                    <td class="text-right">
                                        <i data-toggle="modal" data-target="#myModal" class="fa fa-eye ico-action-table" title="Ver"></i> 
                                        <i *ngIf="action=='crear' || action=='editar'" data-toggle="modal" data-target="#myModal" class="fa fa-upload ico-action-table" title="Subir Antecedentes"></i> 
                                    </td>
                                </tr>
                                </tbody>
                            </table>
    
                    </div>

                    <!-- MENU 3 SERVICIOS ATE -->
                    <div class="tab-pane container fade content-tabla" id="menu3">

                            <!-- tabla Remuneraciones -->
                            <div class=" mb-2" style="text-align: right;">
                                    <a class="icoFile"  href="{{ruta}}downloadFile.xlsx"><i class="fa fa-file-excel-o"></i></a>
                            </div>
                            <table datatable [dtOptions]="dtOptions" class="table table-striped">
                                <thead class="header-tablas">
                                <tr>
                                    <th scope="col" style="width: 100px;">Rut Proveedor</th>
                                    <th scope="col" class="text-right">Acciones</th>
                                </tr>
                                </thead>
                                <tbody class="body-tablas">
                                <tr *ngFor="let post of posts">
                                    <td>{{post.RBD}}</td>
                                    <td class="text-right">
                                        <i data-toggle="modal" data-target="#myModal" class="fa fa-eye ico-action-table" title="Ver"></i> 
                                        <i *ngIf="action=='crear' || action=='editar'" data-toggle="modal" data-target="#myModal" class="fa fa-upload ico-action-table" title="Subir Antecedentes"></i> 
                                    </td>
                                </tr>
                                </tbody>
                            </table>
    
                    </div>

                    <!-- MENU 4 - PRORRATEADOS -->
                    <div class="tab-pane container fade content-tabla" id="menu4">

                            <!-- tabla Remuneraciones -->
                            <div class=" mb-2" style="text-align: right;">
                                    <a class="icoFile"  href="{{ruta}}downloadFile.xlsx"><i class="fa fa-file-excel-o"></i></a>
                            </div>
                            <table datatable [dtOptions]="dtOptions" class="table table-striped">
                                <thead class="header-tablas">
                                <tr>
                                    <th scope="col" style="width: 33px;">RBD</th>
                                    <th scope="col" class="text-right">Acciones</th>
                                </tr>
                                </thead>
                                <tbody class="body-tablas">
                                <tr *ngFor="let post of posts">
                                    <td>{{post.RBD}}</td>
                                    <td class="text-right">
                                        <i data-toggle="modal" data-target="#myModal" class="fa fa-eye ico-action-table" title="Ver"></i> 
                                        <i *ngIf="action=='crear' || action=='editar'" data-toggle="modal" data-target="#myModal" class="fa fa-upload ico-action-table" title="Subir Antecedentes"></i> 
                                    </td>
                                </tr>
                                </tbody>
                            </table>
    
                    </div>

                    <!-- MENU 5 - REMUNERACIONES PRORRATEADAS -->
                    <div class="tab-pane container fade content-tabla" id="menu5">

                            <!-- tabla Remuneraciones -->
                            <div class=" mb-2" style="text-align: right;">
                                    <a class="icoFile"  href="{{ruta}}downloadFile.xlsx"><i class="fa fa-file-excel-o"></i></a>
                            </div>
                            <table datatable [dtOptions]="dtOptions" class="table table-striped">
                                <thead class="header-tablas">
                                <tr>
                                    <th scope="col" style="width: 200px;">Colaborador</th>
                                    <th scope="col" class="text-right">Acciones</th>
                                </tr>
                                </thead>
                                <tbody class="body-tablas">
                                <tr *ngFor="let post of posts">
                                    <td>{{post.trabajador}}</td>
                                    <td class="text-right">
                                        <i data-toggle="modal" data-target="#myModal" class="fa fa-eye ico-action-table" title="Ver"></i> 
                                        <i *ngIf="action=='crear' || action=='editar'" data-toggle="modal" data-target="#myModal" class="fa fa-upload ico-action-table" title="Subir Antecedentes"></i> 
                                    </td>
                                </tr>
                                </tbody>
                            </table>
    
                    </div>

                    <!-- MENU 6 SANEAMIENTO DE COTIZACIONES -->
                    <div class="tab-pane container fade content-tabla" id="menu6">

                            <!-- tabla Remuneraciones -->
                            <div class=" mb-2" style="text-align: right;">
                                    <a class="icoFile"  href="{{ruta}}downloadFile.xlsx"><i class="fa fa-file-excel-o"></i></a>
                            </div>
                            <table datatable [dtOptions]="dtOptions" class="table table-striped">
                                <thead class="header-tablas">
                                <tr>
                                    <th scope="col" style="width: 33px;">RBD</th>
                                    <th scope="col" style="width: 200px;">Colaborador</th>
                                    <th scope="col" class="text-right">Acciones</th>
                                </tr>
                                </thead>
                                <tbody class="body-tablas">
                                <tr *ngFor="let post of posts">
                                    <td>{{post.RBD}}</td>
                                    <td>{{post.trabajador}}</td>
                                    <td class="text-right">
                                        <i data-toggle="modal" data-target="#myModal" class="fa fa-eye ico-action-table" title="Ver"></i> 
                                        <i *ngIf="action=='crear' || action=='editar'" data-toggle="modal" data-target="#myModal" class="fa fa-upload ico-action-table" title="Subir Antecedentes"></i> 
                                    </td>
                                </tr>
                                </tbody>
                            </table>
    
                    </div>

                    <!-- MENU 7 SANEAMIENTO DE PROVEEDORES -->
                    <div class="tab-pane container fade content-tabla" id="menu7">

                            <!-- tabla Remuneraciones -->
                            <div class=" mb-2" style="text-align: right;">
                                    <a class="icoFile"  href="{{ruta}}downloadFile.xlsx"><i class="fa fa-file-excel-o"></i></a>
                            </div>
                            <table datatable [dtOptions]="dtOptions" class="table table-striped">
                                <thead class="header-tablas">
                                <tr>
                                    <th scope="col" style="width: 33px;">RBD</th>
                                    <th scope="col" class="text-right">Acciones</th>
                                </tr>
                                </thead>
                                <tbody class="body-tablas">
                                <tr *ngFor="let post of posts">
                                    <td>{{post.RBD}}</td>
                                    <td class="text-right">
                                        <i data-toggle="modal" data-target="#myModal" class="fa fa-eye ico-action-table" title="Ver"></i> 
                                        <i *ngIf="action=='crear' || action=='editar'" data-toggle="modal" data-target="#myModal" class="fa fa-upload ico-action-table" title="Subir Antecedentes"></i> 
                                    </td>
                                </tr>
                                </tbody>
                            </table>
    
                    </div>

                </div>
        
        </div>

    </div>

    <!-- NAVEJACION FLUJO -->

    <div class="col float-left text-right">
        <button [routerLink]="['/argumento-gastos']" class="btn btn-primary float-left">Anterior</button>
        <button [routerLink]="['/argumento-escrito']" class="btn btn-primary float-right">Siguiente</button>
    </div>
</div>



<!-- MODAL ADJUNTAR-->

<div class="modal fade" id="myModal">
        <div class="modal-dialog modal-xl">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Adjuntar Antecedentes para Recurso</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
              
                    <!-- Modal body -->
                    <div class="modal-body">

                        <div class="col panel-main p-3 mb-4">
                            <h5>Archivos</h5>
                            <p>Los documentos que son considerados para la evaluación de pertinencia de este tipo de gasto son: Contrato Colaborador, Liquidación (firmada), Isapre, AFP, Seguro Cesantía, Cartola Cta Cte del mes.</p>

                            <!-- tabla -->
                            <div class=" mb-2" style="text-align: right;">
                                <a class="icoFile"  href="{{ruta}}downloadFile.xlsx"><i class="fa fa-file-excel-o"></i></a>
                            </div>
                            <table datatable [dtOptions]="dtOptions" class="table table-striped">
                                <thead class="header-tablas">
                                  <tr>
                                    <th *ngIf="action=='crear'" scope="row" style="width:10px">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheckTodo" name="example1">
                                            <label class="custom-control-label" for="customCheckTodo"></label>
                                        </div>
                                    </th>
                                    <th scope="col"class="text-left" style="width: 100px;">Documentos</th>
                                    <th scope="col" class="text-right">Acciones</th>
                                  </tr>
                                </thead>
                                <tbody class="body-tablas">
                                  <tr *ngFor="let post of postsFile">
                                    <th *ngIf="action=='crear'" scope="row">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                                                    <label class="custom-control-label" for="customCheck"></label>
                                                </div>
                                    </th>                                   
                                    <td>{{post.doc}}</td>
                                    <td scope="row" class="text-right">
                                            <i class="fa fa-eye ico-action-table" title="Ver"></i> 
                                            <i *ngIf="action=='crear'" data-toggle="modal" data-target="#myModalDelete" class="fa fa-trash ico-action-table" title="Eliminar"></i> 
                                    </td>
                                  </tr>
                                </tbody>
                            </table>

                        </div>

                        <div class="col panel-main p-3">
                                <h5>Gastos Impugnados a los que se Asocian los Antecedentes</h5>

                                <!-- tabla -->
                                <div class=" mb-2" style="text-align: right;">
                                    <a class="icoFile"  href="{{ruta}}downloadFile.xlsx"><i class="fa fa-file-excel-o"></i></a>
                                </div>
                                <table datatable [dtOptions]="dtOptions" class="table table-striped">
                                    <thead class="header-tablas">
                                      <tr>
                                        <th scope="col">RBD</th>
                                        <th scope="col">Categoría</th>
                                        <th scope="col">RUT(Proveedor/Trabajador)</th>
                                        <th scope="col">Monto no aceptado</th>
                                        <th scope="col">Cuenta gasto</th>
                                      </tr>
                                    </thead>
                                    <tbody class="body-tablas">
                                      <tr *ngFor="let post of postsArgumento">
                                        <td>{{post.RBD}}</td>
                                        <td>{{post.categoria}}</td>
                                        <td>{{post.trabajador}}</td>
                                        <td>{{post.montono}}</td>
                                        <td>{{post.montoimpugnado}}</td>
                                      </tr>
                                    </tbody>
                                </table>

                        </div>
                    </div>
              
                    <!-- Modal footer -->
                    <div class="modal-footer">
                            <input *ngIf="action=='crear'" type="button"  value="Cancelar" class="btn btn-default border border-dark mr-2" data-dismiss="modal">
                            <a *ngIf="action=='crear'" class="btn btn-primary text-light  cursor-pointer" data-dismiss="modal">Guardar</a>
                            <input *ngIf="action=='ver'" type="button"  value="Aceptar" class="btn btn-primary" data-dismiss="modal">
                    </div>

                </div>
        </div>
</div> 

 <!-- Modal Eliminar -->
 <div class="modal fade" id="myModalDelete">
        <div class="modal-dialog modal-md">
                <div class="modal-content">
    
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Alerta</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
              
                    <!-- Modal body -->
                    <div class="modal-body">
    
                       ¿Está seguro que desea eliminar el registro?
                    </div>
              
                    <!-- Modal footer -->
                    <div class="modal-footer">
                            <input type="button"  value="Cancelar" class="btn btn-default border border-dark mr-2" data-dismiss="modal">
                            <a class="btn btn-danger text-light  cursor-pointer" data-dismiss="modal">Eliminar</a>
                    </div>
    
                </div>
        </div>
    </div>   