<h6 class="small mb-3" style="margin-top:-14px">Ref: MK_  Login</h6>

<div class="row">
<div class="p-4 mb-5 login border">
    <h3 class="text-primary font-weight-normal mb-4">Inicio Sesión</h3>

    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
            <div class="form-group">
                    <label class="font-weight-bold text-black-50" for="name">Nombre de usuario</label>
                    <input type="text" placeholder="Usuario" name="name" class="form-control" #name="ngModel" [(ngModel)]="user.name" required>
                    <small *ngIf="!name.valid && name.touched"  class="invalid-feedback d-block">
                        El nombre es requerido
                    </small>
            </div>
            <div class="form-group">
                <label class="font-weight-bold text-black-50"  for="password">Contraseña</label>
                <input type="password" placeholder="Contraseña" name="password" class="form-control" #password="ngModel" [(ngModel)]="user.password" required>
                <small *ngIf="!password.valid && password.touched"  class="invalid-feedback d-block">
                    La contraseña no es válida
                </small>
            </div>
            <input type="submit" value="Ingresar" class="btn btn-primary" [disabled]="loginForm.invalid">
    </form>
    <p class="mt-3">¿Olvidó su contraseña?</p>
</div>
</div>