<h6 class="small mb-3" style="margin-top:-14px">Ref: MK_1_1_1 Listar recursos impugnados</h6>

<div class="col-12 float-left mb-5">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs font-weight-bold pestanias">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#home" *ngIf="perfil == p.p1 || perfil == p.p10">Borrador</a>
              <a class="nav-link active" data-toggle="tab" href="#home" *ngIf="perfil == p.p2 || perfil == p.p3 || perfil == p.p4 || perfil == p.p5 || perfil == p.p6 || perfil == p.p7 || perfil == p.p8 || perfil == p.p9">Mis pendientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#menu1">En Proceso</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#menu2">Terminado</a>
            </li>
        </ul>
          
          <!-- Tab panes -->
          <div class="tab-content border border-top-0  pt-2 bg-blanco">

            <!-- MENU 1 BORRADOR/MIS PENDIENTES -->
            <div class=" tab-pane container active content-tabla" id="home">

                <!--tabla borrador/mis pendientes -->
                <!-- <a class="btn btn-light mb-2 border border-dark btn-sm" href="{{ruta}}downloadFile.xlsx"><i class="fa fa-file-excel-o"></i> Excel</a> -->
                <div class=" mb-2" style="text-align: right;">
                  <a class="icoFile"  href="{{ruta}}downloadFile.xlsx"><i class="fa fa-file-excel-o"></i></a>
                </div>
                <table datatable [dtOptions]="dtOptions" id="DataTablesClientes" class="col table table-striped">
                    <thead class="header-tablas">
                      <tr>
                        <th scope="col">ID BORRADOR</th>
                        <th *ngIf='th2' scope="col">Rol Recurso</th>
                        <th *ngIf='th3' scope="col">RUT SOSTENEDOR</th>
                        <th *ngIf='th4' scope="col">Fecha Inicio</th>
                        <th *ngIf='th5' scope="col">FECHA PRESENTACIÓN</th>
                        <th *ngIf='th6' scope="col">FECHA ING RECURSO</th>
                        <th *ngIf='th7' scope="col">Días Tramitación</th>
                        <th *ngIf='th8' scope="col">Estado Recurso</th>
                        <th *ngIf='th9' scope="col">Fecha Estado</th>
                        <th *ngIf='th10' scope="col">Prioridad</th>
                        <th *ngIf="th11" scope="col">Fecha Resolución</th>
                        <th *ngIf='th12' scope="col">Tipo Recurso</th>
                        <th *ngIf='th13' scope="col">Fiscal Encargado</th>
                        <th *ngIf='th14' scope="col">Programa</th>
                        <th *ngIf='th15' scope="col">Control de Ingreso</th>
                        <th scope="col" class="th-accion">Acciones</th>
                      </tr>
                    </thead>
                    <tbody class="body-tablas">
                        <tr *ngFor="let post of posts_borrador">
                            <td scope="row">{{post.id}}</td>
                            <td *ngIf='th2'>{{post.rol_recurso}}</td>
                            <td *ngIf='th3'>{{post.rut_sostenedor}}</td>
                            <td *ngIf='th4'> {{post.Fecha_Inicio}}</td>
                            <td *ngIf='th5'>{{post.Fecha_Presentacion}}</td>
                            <td *ngIf='th6'>{{post.Fecha_Ingreso}}</td>
                            <td *ngIf='th7'>{{post.Dias_Tramitacion}}</td>
                            <td *ngIf='th8'>{{post.Estado_Recurso}}</td>
                            <td *ngIf='th9'>{{post.Fecha_Estado}}</td>
                            <td *ngIf='th10'>{{post.Prioridad}}</td>
                            <td *ngIf='th11'>{{post.Fecha_Resolucion}}</td>
                            <td *ngIf='th12'>{{post.Tipo_Recurso}}</td>
                            <td *ngIf='th13'>{{post.Fiscal_Encargado}}</td>
                            <td *ngIf='th14'>{{post.Programa}}</td>
                            <td *ngIf='th15'>{{post.ControlIngreso}}</td>
                            <td>
                              <i (click)="actionTable('ver')" *ngIf="perfil==p.p1" class="fa fa-eye ico-action-table" title="Ver"></i>
                              <i (click)="actionTable('editar')" *ngIf="perfil==p.p1 || perfil==p.p2" class="fa fa-pencil ico-action-table" title="Modificar"></i> 
                              <i *ngIf="perfil==p.p1 || perfil==p.p2" class="fa fa-trash ico-action-table" data-toggle="modal" data-target="#myModal" title="Eliminar"></i>
                              <i *ngIf="perfil==p.p3 || perfil==p.p4" class="fa fa-plus ico-action-table" title="Asignar"></i>
                              <i *ngIf="perfil==p.p0" class="fa fa-redo ico-action-table" title="Re-asignar"></i>
                              <i *ngIf="perfil==p.p0" class="fa fa-sign-out ico-action-table" title="Renunciar Recurso"></i>
                              <i *ngIf="perfil==p.p0" class="fa fa-folder-open ico-action-table" title="Complementar Recurso"></i>
                              <i *ngIf="perfil==p.p0" class="fa fa-gavel ico-action-table" title="Actuar de Oficio"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
               
            </div>

            <!-- MENU 2 EN PROCESO -->
            <div class="tab-pane container fade content-tabla" id="menu1">

                <!-- tabla en proceso -->
                <div class=" mb-2" style="text-align: right;">
                    <a class="icoFile"  href="{{ruta}}downloadFile.xlsx"><i class="fa fa-file-excel-o"></i></a>
                </div>
                <table datatable [dtOptions]="dtOptions" class="table table-striped">
                    <thead class="header-tablas">
                      <tr>
                        <th scope="col">ID Acumulado</th>
                        <th *ngIf='th2_t2' scope="col">Rol Recurso</th>
                        <th *ngIf='th3_t2' scope="col">RUT SOSTENEDOR</th>
                        <th *ngIf='th4_t2' scope="col">Fecha Inicio</th>
                        <th *ngIf='th5_t2' scope="col">FECHA PRESENTACIÓN</th>
                        <th *ngIf='th6_t2' scope="col">FECHA ING RECURSO</th>
                        <th *ngIf='th7_t2' scope="col">Días Tramitación</th>
                        <th *ngIf='th8_t2' scope="col">Estado Recurso</th>
                        <th *ngIf='th9_t2' scope="col">Fecha Estado</th>
                        <th *ngIf='th10_t2' scope="col">Prioridad</th>
                        <th *ngIf='th11_t2' scope="col">Fecha Resolución</th>
                        <th *ngIf='th12_t2' scope="col">Tipo Recurso</th>
                        <th *ngIf='th13_t2' scope="col">Fiscal Encargado</th>
                        <th *ngIf='th14_t2' scope="col">Programa</th>
                        <th *ngIf='th15_t2' scope="col">Control de Ingreso</th>
                        <th scope="col" class="th-accion">Acciones</th>
                      </tr>
                    </thead>
                    <tbody class="body-tablas">
                        <tr *ngFor="let post of posts_proceso">
                            <th scope="row">{{post.id}}</th>
                            <td *ngIf='th2_t2'>{{post.rol_recurso}}</td>
                            <td *ngIf='th3_t2'>{{post.rut_sostenedor}}</td>
                            <td *ngIf='th4_t2'> {{post.Fecha_Inicio}}</td>
                            <td *ngIf='th5_t2'>{{post.Fecha_Presentacion}}</td>
                            <td *ngIf='th6_t2'>{{post.Fecha_Ingreso}}</td>
                            <td *ngIf='th7_t2'>{{post.Dias_Tramitacion}}</td>
                            <td *ngIf='th8_t2'>{{post.Estado_Recurso}}</td>
                            <td *ngIf='th9_t2'>{{post.Fecha_Estado}}</td>
                            <td *ngIf='th10_t2'>{{post.Prioridad}}</td>
                            <td *ngIf='th11_t2'>{{post.Fecha_Resolucion}}</td>
                            <td *ngIf='th12_t2'>{{post.Tipo_Recurso}}</td>
                            <td *ngIf='th13_t2'>{{post.Fiscal_Encargado}}</td>
                            <td *ngIf='th14_t2'>{{post.Programa}}</td>
                            <td *ngIf='th15_t2'>{{post.ControlIngreso}}</td>
                            <td>
                                <i (click)="actionTable('ver')" *ngIf="perfil==p.p1 || perfil==p.p2 || perfil==p.p3 || perfil==p.p4 || perfil==p.p5 || perfil==p.p6 || perfil==p.p7 || perfil==p.p8 || perfil==p.p9" class="fa fa-eye ico-action-table" title="Ver"></i> 
                                <i *ngIf="perfil==p.p0" class="fa fa-pencil ico-action-table" title="Modificar"></i> 
                                <i *ngIf="perfil==p.p2" class="fa fa-trash ico-action-table" title="Eliminar"></i>
                                <i *ngIf="perfil==p.p0" class="fa fa-plus ico-action-table" title="Asignar"></i>
                                <i *ngIf="perfil==p.p3 || perfil==p.p4" class="fa fa-undo ico-action-table" title="Re-asignar"></i>
                                <i *ngIf="perfil==p.p1 || perfil==p.p2" class="fa fa-sign-out ico-action-table" title="Renunciar Recurso"></i>
                                <i *ngIf="perfil==p.p1 || perfil==p.p2 || perfil==p.p5" class="fa fa-folder-open ico-action-table" title="Complementar Recurso"></i>
                                <i *ngIf="perfil==p.p0" class="fa fa-gavel ico-action-table" title="Actuar de Oficio"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <!-- MENU 3 TERMINADO -->
            <div class="tab-pane container fade content-tabla" id="menu2">

                <!-- tabla terminado -->
                <div class=" mb-2" style="text-align: right;">
                    <a class="icoFile"  href="{{ruta}}downloadFile.xlsx"><i class="fa fa-file-excel-o"></i></a>
                </div>
                <table datatable [dtOptions]="dtOptions" class="table table-striped">
                    <thead class="header-tablas">
                      <tr>
                        <th scope="col">ID Acumulado</th>
                        <th *ngIf='th2_t3' scope="col">Rol Recurso</th>
                        <th *ngIf='th3_t3' scope="col">Rut Sostenedor</th>
                        <th *ngIf='th4_t3' scope="col">Fecha Inicio</th>
                        <th *ngIf='th5_t3' scope="col">Fecha Presentación</th>
                        <th *ngIf='th6_t3' scope="col">Fecha Ing Recurso</th>
                        <th *ngIf='th7_t3' scope="col">Días Tramitación</th>
                        <th *ngIf='th8_t3' scope="col">Estado Recurso</th>
                        <th *ngIf='th9_t3' scope="col">Fecha Estado</th>
                        <th *ngIf='th10_t3' scope="col">Prioridad</th>
                        <th *ngIf='th11_t3' scope="col">Fecha Resolución</th>
                        <th *ngIf='th12_t3' scope="col">Tipo Recurso</th>
                        <th *ngIf='th13_t3' scope="col">Fiscal Encargado</th>
                        <th *ngIf='th14_t3' scope="col">Programa</th>
                        <th *ngIf='th15_t3' scope="col">Control de Ingreso</th>
                        <th scope="col" class="th-accion">Acciones</th>
                      </tr>
                    </thead>
                    <tbody class="body-tablas">
                      <tr *ngFor="let post of posts">
                        <th scope="row">{{post.id}}</th>
                        <td *ngIf='th2_t3'>{{post.rol_recurso}}</td>
                        <td *ngIf='th3_t3'>{{post.rut_sostenedor}}</td>
                        <td *ngIf='th4_t3'> {{post.Fecha_Inicio}}</td>
                        <td *ngIf='th5_t3'>{{post.Fecha_Presentacion}}</td>
                        <td *ngIf='th6_t3'>{{post.Fecha_Ingreso}}</td>
                        <td *ngIf='th7_t3'>{{post.Dias_Tramitacion}}</td>
                        <td *ngIf='th8_t3'>{{post.Estado_Recurso}}</td>
                        <td *ngIf='th9_t3'>{{post.Fecha_Estado}}</td>
                        <td *ngIf='th10_t3'>{{post.Prioridad}}</td>
                        <td *ngIf='th11_t3'>{{post.Fecha_Resolucion}}</td>
                        <td *ngIf='th12_t3'>{{post.Tipo_Recurso}}</td>
                        <td *ngIf='th13_t3'>{{post.Fiscal_Encargado}}</td>
                        <td *ngIf='th14_t3'>{{post.Programa}}</td>
                        <td *ngIf='th15_t3'>{{post.ControlIngreso}}</td>
                        <td>
                            <i (click)="actionTable('ver')" *ngIf="perfil==p.p1 || perfil==p.p2 || perfil==p.p3 || perfil==p.p4 || perfil==p.p5 || perfil==p.p6 || perfil==p.p7 || perfil==p.p8 || perfil==p.p9" class="fa fa-eye ico-action-table" title="Ver"></i> 
                            <i *ngIf="perfil==p.p0" class="fa fa-pencil ico-action-table" title="Modificar"></i> 
                            <i *ngIf="perfil==p.p0" class="fa fa-trash ico-action-table" title="Eliminar"></i>
                            <i *ngIf="perfil==p.p0" class="fa fa-plus ico-action-table" title="Asignar"></i>
                            <i *ngIf="perfil==p.p3 || perfil==p.p4" class="fa fa-undo ico-action-table" title="Re-asignar"></i>
                            <i *ngIf="perfil==p.p0" class="fa fa-sign-out ico-action-table" title="Renunciar Recurso"></i>
                            <i *ngIf="perfil==p.p0" class="fa fa-folder-open ico-action-table" title="Complementar Recurso"></i>
                            <i *ngIf="perfil==p.p3 || perfil==p.p5" class="fa fa-gavel ico-action-table" title="Actuar de Oficio"></i>
                        </td>
                      </tr>
                    </tbody>
                </table>
                
            </div>
          </div>
  
</div>


 <!-- Modal Eliminar -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-md">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Alerta</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
          
                <!-- Modal body -->
                <div class="modal-body">

                   ¿Está seguro que desea eliminar el borrador con ID 170500212?
                </div>
          
                <!-- Modal footer -->
                <div class="modal-footer">
                        <input type="button"  value="Cancelar" class="btn btn-default border border-dark mr-2" data-dismiss="modal">
                        <a class="btn btn-danger text-light  cursor-pointer" data-dismiss="modal">Eliminar</a>
                </div>

            </div>
    </div>
</div>     